@import url('https://fonts.googleapis.com/css2?family=Lato:ita@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 1rem;
    font-family: 'Lato', sans-serif;
    background-color: #dfe6e9;
}

.read-more-container {
    display: flex;
    flex-direction: column;
    color:  #111;
}

.container {
    padding: 2rem;
    background-color: #fff;
    border-radius: 2px;
    line-height: 1.4rem;
    box-shadow: 0 0 1rem rgba(0,0,0.1);
}

.read-more-text {
    display: none;
}

.read-more-text--show {
    display: inline;
}

.read-more-btn {
    color: #0984e3;
}
